<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Key" value="6dqg4rJgwzKMFp7t" />
    <add key="BankLink" value="http://109.74.70.51:5058/expresspay.asp?command=" />
	  <add key="BankLinkCA" value="https://acquire.dc.tj:440/pay/BindCards.php" />
    <add key="DBConection" value="http://127.0.0.1:8883/" />
	<add key="CancelKey" value="85901d9734365bf50ec52d2c08ea0b5d" />
    <add key="BillingAddress" value="http://109.74.70.51:5058/test.asp?command=" />
	  
    <add key="ApiKey" value="B6f3pQrGsJs2FaWAnE6M9Xd3Xa6RbVM9" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>